@media screen and (max-width: 991px) {
  .nav-items {
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
  }

  .nav-items a:not(:first-child) {
    border-top: #f2f3f4 1.5px solid;
  }
  .nav-items p {
    padding-left: 10px;
    font-weight: 800;
    color: black;
  }
  .nav-items a:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    /* width: 100%; */
  }
}

.nav-items a {
  transition: 0.2s;
}
@media screen and (min-width: 992px) {
  .nav-items a:hover {
    transform: scale(1.2) !important;
  }
}

.nav-items p {
  font-weight: 800;
}
.navbar-toggler-icon {
  background-image: url("./icon-hamburger.svg") !important;
}
